

<body>
    <section class="forgot-password-container" *ngIf="!isEmailSent; else showEmailSent">
        <div class="forgot-password-wrapper">
            <div class="forgot-password-content">
                <h1 class="forgot-password-title">
                    {{title}}
                </h1>
                <form class="forgot-password-form" (ngSubmit)="onSubmit($event)">
                    <div class="forgot-password-email-container">
                        <label for="email" class="forgot-password-form-label">Your email</label>
                        <input type="email" name="email" id="email" [formControl]="email"
                            [ngClass]="{'invalid': hasError()}" class="forgot-password-email-input"
                            placeholder="digita tu correo" required="">
                        <!-- Show error message -->
                        <app-error-message [control]="email" />
                    </div>

                    <button type="submit" (click)="onSubmit($event)" class="forgot-password-submit-button">
                        Send
                    </button>
                </form>
            </div>
        </div>
    </section>
</body>

<ng-template #showEmailSent>
    <p class="show-email-sent" [ngClass]="{'active': isEmailSent}">
        If you have an account, you will receive an email to reset your password.
    </p>
</ng-template>

