<!-- <pre>
    {{user$ | async |json }}
</pre> -->

<!-- flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0 -->

<!-- <a href="#" class="flex items-center mb-6 text-2xl font-semibold text-gray-900 dark:text-white">
            <img style="width: 100; height: 100;" class="w-8 h-8 mr-2" src="src/assets/images/WhatsApp_Image_2023-09-25_at_16.25.21-transformed-removebg-preview.png" alt="logo">
            WELCOME TO DOMESTIC-APP    
        </a> -->

<!-- <body>

<section class=" ">
    <div class="">
     
        <div class="">
            <div class="">
                <h1 class="">
                    {{title}}
                </h1>
                <form class="" [formGroup]="form" (ngSubmit)="onSubmit()">
                    <div class="email_container">
                        <div>
                            <label for="email" class="">Your
                                email</label>
                            <input type="email" name="email" id="email" formControlName="email"
                                [ngClass]="{'invalid': hasError('email')}" class="email-input"
                                placeholder="digita tu correo" required="">
                         
                            <app-error-message [control]="form.get('email')!" />
                        </div>
                        <div>
                            <label for="password"
                                class="">Password</label>
                            <input type="password" name="password" id="password" formControlName="password"
                                [ngClass]="{'invalid': hasError('password')}" placeholder="digita la contraseña"
                                class="email-input" required="">
                   
                            <app-error-message [control]="form.get('password')!" />
                        </div>
                    </div>
                    <div class="" *ngIf=" action === 'signIn'">
                        <a routerLink="/user/forgot-password"
                            class="">Forgot
                            password?</a>
                    </div>
                    <button type="submit" [disabled]="!form.valid" class="botton-1 text-center mx-auto">
                        {{title}}
                    </button>

                    <ng-container *ngIf="action === 'signIn'; else templateSignIn">
                        <p class="" >
                            Don't have an account yet? <a
                                class=""
                                routerLink="/user/sign-up">Sign up</a>
                        </p>
                    </ng-container>
                </form>

                <div *ngIf="action === 'signIn'">
                    <button class="botton-2" (click)="signInGoogle()">Use Google to log in</button>
                </div>

            </div>
        </div>
    </div>
</section>
</body>

<ng-template #templateSignIn>
    <p class="">
        If you already hava an account, <a routerLink="/user/sign-in"
            class="" > Sign
            in</a>
    </p>
</ng-template> -->


<!-- component.html -->

<body>
    <section class="form-container">

        <div class="form-wrapper">
            <div class="form-content">
                <a class="logo-container">
                    <img class="logo" src="/assets/img/logo-2.png" alt="logo">
                    WELCOME TO DOMESTIC-APP
                </a>
                <h1 class="form-title">
                    {{title}}
                </h1>
                <form class="custom-form" [formGroup]="form" (ngSubmit)="onSubmit()">
                    <div class="email-container">
                        <div>
                            <label for="email" class="form-label">Your email</label>
                            <input type="email" name="email" id="email" formControlName="email"
                                [ngClass]="{'invalid': hasError('email')}" class="email-input"
                                placeholder="Enter your email" required>
                            <!-- Show error message -->
                            <app-error-message [control]="form.get('email')!"></app-error-message>
                        </div>
                        <div>
                            <label for="password" class="form-label">Password</label>
                            <input type="password" name="password" id="password" formControlName="password"
                                [ngClass]="{'invalid': hasError('password')}" placeholder="Enter your password"
                                class="password-input" required>
                            <!-- Show error message -->
                            <app-error-message [control]="form.get('password')!"></app-error-message>
                        </div>
                    </div>
                    <div class="form-actions" *ngIf="action === 'signIn'">
                        <a routerLink="/user/forgot-password" class="forgot-password-link">Forgot password?</a>
                    </div>
                    <button type="submit" [disabled]="!form.valid" class="submit-button"> {{title}}</button>
                    <ng-container *ngIf="action === 'signIn'; else templateSignIn">
                        <p class="form-note">Don't have an account yet? <a class="signup-link"
                                routerLink="/user/sign-up">Sign up</a></p>
                    </ng-container>
                </form>
                <div *ngIf="action === 'signIn'">
                    <button class="google-login-button" (click)="signInGoogle()">Use Google to log in</button>
                </div>
            </div>
        </div>
    </section>
</body>
<ng-template #templateSignIn>
    <p class="form-note">If you already have an account, <a routerLink="/user/sign-in" class="signin-link">Sign
            in</a></p>
</ng-template>