<body>
    <section class="form-container">

        <div class="form-wrapper">
            <div class="form-content">
                <a class="logo-container">
                    <img class="logo" src="/assets/img/logo-2.png" alt="logo">
                    WELCOME TO DOMESTIC-APP
                </a>
                <h1 class="form-title">
                    {{title}}
                </h1>
                <form class="custom-form" [formGroup]="form" (ngSubmit)="onSubmit()">
                    <div class="email-container">
                        <div>
                            <label for="email" class="form-label">Tu correo electrónico</label>
                            <input type="email" name="email" id="email" formControlName="email"
                                [ngClass]="{'invalid': hasError('email')}" class="email-input"
                                placeholder="Introduce tu correo electrónico" required>
                            <!-- Show error message -->
                            <app-error-message [control]="form.get('email')!"></app-error-message>
                        </div>
                        <div>
                            <label for="password" class="form-label">Contraseña</label>
                            <input type="password" name="password" id="password" formControlName="password"
                                [ngClass]="{'invalid': hasError('password')}" placeholder="Ingresa tu contraseña"
                                class="password-input" required>
                            <!-- Show error message -->
                            <app-error-message [control]="form.get('password')!"></app-error-message>
                        </div>
                    </div>
                    <div class="form-actions" *ngIf="action === 'signIn'">
                        <a routerLink="/user/forgot-password" class="forgot-password-link">¿Has olvidado tu contraseña?</a>
                    </div>
                    <button type="submit" [disabled]="!form.valid" class="submit-button"> {{title}}</button>
                    <ng-container *ngIf="action === 'signIn'; else templateSignIn">
                        <p class="form-note">¿Aún no tienes una cuenta?<a class="signup-link"
                                routerLink="/user/sign-up">Registrarse</a></p>
                    </ng-container>
                </form>
                <div *ngIf="action === 'signIn'">
                    <button class="google-login-button" (click)="signInGoogle()">Utilice Google para iniciar sesión</button>
                </div>
            </div>
        </div>
    </section>
</body>
<ng-template #templateSignIn>
    <p class="form-note">si ya tienes una cuenta,<a routerLink="/user/sign-in" class="signin-link"> inicia sesión</a>
    </p>
</ng-template>