

<body>
    <section class="form-container">

        <div class="form-wrapper">
            <div class="form-content">
                <a class="logo-container">
                    <img class="logo" src="/assets/img/logo-2.png" alt="logo">
                    WELCOME TO DOMESTIC-APP
                </a>
                <h1 class="form-title">
                    {{title}}
                </h1>
                <form class="custom-form" [formGroup]="form" (ngSubmit)="onSubmit()">
                    <div class="email-container">
                        <div>
                            <label for="email" class="form-label">Your email</label>
                            <input type="email" name="email" id="email" formControlName="email"
                                [ngClass]="{'invalid': hasError('email')}" class="email-input"
                                placeholder="Enter your email" required>
                            <!-- Show error message -->
                            <app-error-message [control]="form.get('email')!"></app-error-message>
                        </div>
                        <div>
                            <label for="password" class="form-label">Password</label>
                            <input type="password" name="password" id="password" formControlName="password"
                                [ngClass]="{'invalid': hasError('password')}" placeholder="Enter your password"
                                class="password-input" required>
                            <!-- Show error message -->
                            <app-error-message [control]="form.get('password')!"></app-error-message>
                        </div>
                    </div>
                    <div class="form-actions" *ngIf="action === 'signIn'">
                        <a routerLink="/user/forgot-password" class="forgot-password-link">Forgot password?</a>
                    </div>
                    <button type="submit" [disabled]="!form.valid" class="submit-button"> {{title}}</button>
                    <ng-container *ngIf="action === 'signIn'; else templateSignIn">
                        <p class="form-note">Don't have an account yet? <a class="signup-link"
                                routerLink="/user/sign-up">Sign up</a></p>
                    </ng-container>
                </form>
                <div *ngIf="action === 'signIn'">
                    <button class="google-login-button" (click)="signInGoogle()">Use Google to log in</button>
                </div>
            </div>
        </div>
    </section>
</body>
<ng-template #templateSignIn>
    <p class="form-note">If you already have an account, <a routerLink="/user/sign-in" class="signin-link">Sign
            in</a></p>
</ng-template>