<body>
    <section class="container">
        <div class="email-verification">
            <h1 class="email-verification__title">
                ¡Gracias por registrarte! <br>
                <span class="email-verification__subtitle">
                    Hemos enviado un correo electrónico de confirmación a
                    <strong>{{user?.email}}</strong>
                </span>
            </h1>
            <p class="email-verification__description">
                Revise su bandeja de entrada y haga clic en el enlace para verificar su dirección de correo electrónico.
            </p>
            <button (click)="onResendemail()" class="email-verification__button">
                Reenviar email
            </button>
        </div>
    </section>
</body>