<body>
    <section class="container">
        <div class="card__container swiper">
            <div class="card__content">
                <div class="swiper-wrapper">

                    <!-- article 1 -->
                    <article class="card__article swiper-slide">
                        <div class="card__image">
                            <img src="/assets/img/avatar-7.png" alt="image" class="card__img">
                            <div class="card__shadow"></div>
                        </div>

                        <div class="card__data">
                            <h3 class="card__name">Yackson Sanchez</h3>
                            <div class="rating">
                                <span class="star">&#9733;</span>
                                <span class="star">&#9733;</span>
                                <span class="star">&#9733;</span>
                                <span class="star">&#9733;</span>
                                <span class="star">&#9733;</span>
                            </div>
                            <p class="card__description">
                                Estilista apasionado que resalta tu belleza natural con enfoque creativo y atención
                                personalizada de la mejor calidad.
                            </p>

                            <a href="#" routerLink="/user/service-option" class="card__button">View More</a>
                        </div>
                    </article>

                    <!-- article 2 -->
                    <article class="card__article swiper-slide">
                        <div class="card__image">
                            <img src="/assets/img/avatar-8.png" alt="image" class="card__img">
                            <div class="card__shadow"></div>
                        </div>

                        <div class="card__data">
                            <h3 class="card__name">Michael Torres</h3>
                            <div class="rating">
                                <span class="star">&#9733;</span>
                                <span class="star">&#9734;</span>
                                <span class="star">&#9734;</span>
                                <span class="star">&#9734;</span>
                                <span class="star">&#9734;</span>
                            </div>
                            <p class="card__description">
                                Con más de una década de experiencia, ofrezco servicios excepcionales de peluquería.
                                Descubre tu estilo único.
                            </p>

                            <a href="#" routerLink="/user/service-option" class="card__button">View More</a>
                        </div>
                    </article>

                    <!-- article 3 -->
                    <article class="card__article swiper-slide">
                        <div class="card__image">
                            <img src="/assets/img/avatar-3.png" alt="image" class="card__img">
                            <div class="card__shadow"></div>
                        </div>

                        <div class="card__data">
                            <h3 class="card__name">Carlos López</h3>
                            <div class="rating">
                                <span class="star">&#9733;</span>
                                <span class="star">&#9733;</span>
                                <span class="star">&#9733;</span>
                                <span class="star">&#9734;</span>
                                <span class="star">&#9734;</span>
                            </div>
                            <p class="card__description">
                                Barbero y peluquero con estilo único, especializado en cortes clásicos y modernos para
                                hombres.
                            </p>

                            <a href="#" routerLink="/user/service-option" class="card__button">View More</a>
                        </div>
                    </article>

                    <!-- article 4 -->
                    <article class="card__article swiper-slide">
                        <div class="card__image">
                            <img src="/assets/img/avatar-4.png" alt="image" class="card__img">
                            <div class="card__shadow"></div>
                        </div>

                        <div class="card__data">
                            <h3 class="card__name">Javier Pérez</h3>
                            <div class="rating">
                                <span class="star">&#9733;</span>
                                <span class="star">&#9733;</span>
                                <span class="star">&#9733;</span>
                                <span class="star">&#9733;</span>
                                <span class="star">&#9733;</span>
                            </div>
                            <p class="card__description">
                                Peluquero y barbero experto en estilos versátiles para todas las edades, desde cortes
                                clásicos hasta tendencias modernas.
                            </p>

                            <a href="#" routerLink="/user/service-option" class="card__button">View More</a>
                        </div>
                    </article>
                </div>
            </div>

            <div class="swiper-button-prev">
                <i class="ri-arrow-left-s-line"></i>
            </div>
            <div class="swiper-button-next">
                <i class="ri-arrow-right-s-line"></i>
            </div>

            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>
        </div>
    </section>
</body>